body{
    background-image:url(./Assets/HvIEnr.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#navbar-example2 {
    background-color: gray;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

#about {
    margin-top: 100px;
    text-align: center;
}

.card {
    text-align: center;
}


.card-header{
    font-size: 30px;
    background-color: black;
    margin-top: 60px;
    text-align: center;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 500px;
}

#link {
    text-align: center;
}

#sticky-footer {
    background-color: gray;
}

h2 {
    color: white;
    margin-top: 170px;
    text-align: center;
}

h4 {
    color: white;
    margin-top: 170px;
    text-align: center;
}

footer small, footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    font-size: small;
    text-align: center;
}

